body {
  background-color: #eaeaea;
  margin: 0
}

@font-face {
  font-family: Fiver;
  src: url('/public/assets/FiverRegular.ttf');
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%);
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/*home page styles*/
.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,
      rgb(24, 42, 115) 0%,
      rgb(33, 138, 174) 69%,
      rgb(32, 167, 172) 89%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/

.react-datepicker-wrapper {
  width: 100%;
}


/* STYLES FOR MATERIAL UI */

/* Home Page */
.marvel-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/assets/marvel/homeBackground.jpg') !important;
  background-size: cover !important;
  width: 100vw;
  height: 100vh;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-buttons {
  width: 300;
  font-weight: 600;
  font-size: larger;
}

/* Activities page */
.app-main-container {
  min-width: 100vw;
  /* background-color: rgb(100, 53, 123); */
  /* background: rgb(193,193,193);
  background: radial-gradient(circle at 90% 5%, rgba(123,123,123,1) 0%, rgba(50,50,50,1) 26%, rgba(0,0,0,1) 52%); */
  /* background: linear-gradient(to right, #8e7cc3, #d8e9ff, #8e7cc3); */
  background-image: url("/public/assets/subtle-prism.svg");
  min-height: 86vh;
  overflow: scroll;
}

.app-content-container {
  /* background-color: rgb(100, 53, 123); */
  /* background: rgb(193,193,193);
  background: radial-gradient(circle at 90% 5%, rgba(123,123,123,1) 0%, rgba(50,50,50,1) 26%, rgba(0,0,0,1) 52%); */
  /* background: linear-gradient(to right, #8e7cc3, #d8e9ff, #8e7cc3); */
  background-image: url("/public/assets/subtle-prism.svg");
  width: 100%;
  min-height: inherit;
  /* overflow: auto; */
}